html {
    height:100%;
}

body {
    padding-top: 3rem;
    height:100%
}

.top-navbar {
    height: 3rem;
    z-index: 2000;
}

.sidebar {
    max-width: 300px;
    /* overflow: hidden; */
    box-shadow: .125rem 0 .25rem rgb(0, 0, 0, .075);
}

.img-wrapper {
    width: fit-content;
}

.img-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-align: center;
}